<script>
	import Map from '../components/Map.svelte';
	let active;
</script>

<style>
	#map {
		display: flex;
		/* background-color:#F1F3F3; */
	}
</style>

<svelte:head>
	<title>Maps</title>
</svelte:head>

<h1>Protests Today</h1>
<div id="map">
	<Map />
</div>