<script>
  import { tweened } from "svelte/motion";
  import { interpolateLab } from "d3-interpolate";
  import { rgb } from "d3-color";
  export let featurePath;
  export let id;
  export let initialColor;

  const mapClick = (x) => {
    console.log('x', x)
  }

  const color = tweened(initialColor, {
    duration: 300,
    interpolate: interpolateLab
  });
</script>

<style>
    .provinceShape {
        stroke: #888;
        stroke-width: 0.1;
    }

    .provinceShape:hover {
        fill: rgb(192, 201, 202);
    }

    path {
        fill: #D3D8D9;
        stroke: #fff;
        stroke-width: .5px;
    }

    path:hover {
        fill: #eee;
    }
</style>

<path
    on:click={()=> mapClick(id)}
    d={featurePath}
    class="provinceShape"
    fill="rgb(255,255,255)"
    on:mouseover={() => {
    color.set(rgb(initialColor).brighter(0.3));
}}
on:mouseout={() => {
    color.set(initialColor);
}} />