<script>
  import { select, geoMercator, geoPath, geoBounds, geoCentroid, geoProjection } from "d3-geo";
  import { scaleLinear } from "d3-scale"
  import { extent } from "d3-array";
  import { onMount } from "svelte"
  import { feature } from "topojson"
  import { tweened } from "svelte/motion"
  import { interpolate } from "d3-interpolate"
  import { selection } from "d3-selection"
  import Feature from "../components/Feature.svelte"

  let data = [];
  let colorScale = () => {};

  // base
  let mapCentre = [95, 20]
  let scale = 840
  const width = "550";
  const height = "494";1

  $: markers = []
  $: projectionUpdated = mapFunc(mapCentre, scale);

  let projection = mapFunc(mapCentre, scale);
  $: active = false;
  /**
   * TWEENING for Map
   * based on https://geoexamples.com/other/2019/12/08/mapping-svelte.html
   * 
   */
  const opacity = tweened(1, {
    duration: 20
  });

  const projectionTween = (projection0, projection1) => {
    return function(t) {
      function project(λ, φ) {
        (λ *= 180 / Math.PI), (φ *= 180 / Math.PI);
        var p0 = projection0([λ, φ]),
          p1 = projection1([λ, φ]);
        if (!p0 || !p1) return [0, 0];
        return [(1 - t) * p0[0] + t * p1[0], (1 - t) * -p0[1] + t * -p1[1]];
      }

      return geoProjection(project)
        .scale(1)
        .translate([0, 0]);
    };
  };

  let currentProj = tweened(projection, {
    duration: 100,
    interpolate: projectionTween
  });
  
  $: path = geoPath().projection($currentProj);
  
  /**
   * Calculate Map Centre
   */
  function calculateScaleCenter(features) {  
    var bbox_path = geoBounds(features),
        scale = 0.95 / Math.max(
          (bbox_path[1][0] - bbox_path[0][0]) / width,
          (bbox_path[1][1] - bbox_path[0][1]) / height
        );

    // Get the bounding box of the features (in map units!) and use it
    // to calculate the center of the features.
    var bbox_feature = geoBounds(features),
        center = [
          (bbox_feature[1][0] + bbox_feature[0][0]) / 2,
          (bbox_feature[1][1] + bbox_feature[0][1]) / 2];

    return {
      'scale': scale,
      'center': center
    };
  }

  // function transition(svg, zoom, zoomLevel) {
  //   svg.transition()
  //       .delay(100)
  //       .duration(700)
  //       .call(zoom.scaleTo, zoomLevel);
  //       //.on("end", function() { canvas.call(transition); });
  // }

  /**
   * 
   */
  function mapFunc(mapCentre, scale){
    return geoMercator()
        .center(mapCentre)
        .scale(scale)        
  }

  /**
   * 
   */
  const mapUpdate = (mapCentre, scale) => {        
    projectionUpdated = geoMercator()
        .center(mapCentre)
        .scale(scale)
        // .translate([width / 2.5, (height) / 2]);

    currentProj.set(projectionUpdated);
  }

  /**
   * Revert to original state
   */

  const resetMap = () => {
    mapUpdate(mapCentre, scale)
  }
  /**
   * On city select
   * - Required marker to have { properties: { name: "Kerala" }}
   */
  const chooseCity = (a, state) => {

      // filter selected state from marker data
      let activeCity = data.filter(
        d => d.properties.name === state
      )

      // get feature geometry
      let glat = activeCity[0]
      let activeGeom = glat.geometry
      
      // do stuffs
      let resx = calculateScaleCenter(activeGeom)

      if(active !== state) {
        active = state
        mapUpdate(resx.center, resx.scale *30)        
      } else {
        resetMap();   
      }
  }

  const goTween = () => {
    console.log('zooming')
    // currentProj.set($currentProj === projection ? projectionUpdated : projection);
  }

  /**
   * Load Markers
   */
  async function loadMarkers() {
    // Load Markers
    const response = await fetch(
      "/plots.geojson"
    );
    
    const json = await response.json();

    markers = json.features
  }

  /**
   *  Load Map
   */
  async function loadMap() {
    // Load Map
    const response = await fetch(
      "/india.geojson"
    );
    
    const json = await response.json();
    
    data = json.features;
  }

  onMount(async function() {
      // 1. Load Markers
      loadMap()
      loadMarkers()
  });


  const showPop = (e) => {
    console.log('x', e)
  }

</script>

<div class="col">
  <button
  on:click={() => { goTween()}}>
  Change
  </button>
  <ul>  
  {#each markers as { geometry, properties }}
    <li on:click={() => chooseCity(geometry.coordinates, properties.state)}>
      <span>
        <img src="great-success.png" class="img" alt="image" width="32"/>
      </span>
      <span>
        <h4>{properties.name}</h4>
        <em>{properties.name}</em>
      </span>
    </li>
  {/each}
    <li on:click={() => resetMap()}>
      <em>Clear</em>
    </li>
  </ul>
</div>  

<div class="col">
  <svg width={width} height={height} id="maps">
    <g className="features">
      {#each data as feature}
      <Feature
        featurePath={path(feature)}
        id={feature.properties.id}        
        />
      {/each}      
      </g>
      <g className="markers">
       {#each markers as { geometry }}
          <circle
              on:mouseenter={() => showPop(geometry) }
              cx={ projectionUpdated(geometry.coordinates)[0] }
              cy={ projectionUpdated(geometry.coordinates)[1] }
              r={ 6 }
              fill="#efa6a3"
              stroke="#efa6a3"
              className="marker"
            />
        {/each}
      </g>
  </svg>
</div>  

<style>
    ul {
      margin-left: 0;
      padding-left:8px;   
      margin-top:0;   
    }
    li {
      list-style: none;
      padding-left: 16px;
      border-bottom: solid 1px #eee;
      padding-bottom: 16px;
      padding-top: 16px;
      padding-right: 32px;
      display: flex;
    }

    li span {
      margin-right: 16px;
    }
    
    li:hover {
      background-color: #eee;
    }
    #maps {
      background: #eee;
    }

    h4 {
      font-size: 14px;
      margin: 0;
      padding:0;
      font-weight: bold;
      margin-bottom: 4px;
    }

    em {
      display: block;
    }

    img {
      border-radius: 1rem;
      border: solid 1px #ddd;
      height: 32px;
      width: 32px;
    }
</style>
